html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 100%;
    width: 100%;
  }
  

/* Nav bar section */

#nav-container {
  overflow: hidden;
  background-color: #333;
  padding: 10px 0px;
}

.nav-link {
  display: inline;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  transition: 300ms cubic-bezier(0.54, 0, 0.54, 1);
  float: left;
}

.nav-link:hover {
  background-color: #111;
}

#search-container {
  float: right;
}

.authentication {
  float: right;
}

#search-container input[type=text] {
  border: none;
  border-radius: 8px 0px 0px 8px;
  padding: 5px 10px 4px 10px;
}

#search-container button {
  float: right;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}

.fa.fa-search{
  font-size: 22px;
  border-radius: 0px 8px 8px 0px;
}