/* Product Listing Section */
#tab-content {
  margin: 0 2rem 10rem 2rem;
  background-color: #ff98a1;
}
/* Mobile */
.product-listings-container {
  max-width: 100%;
  display: grid;
  grid-gap: 3rem;
  padding: 5rem 3rem;
}

/* Medium Displays */

@media (min-width: 600px) {
  .product-listings-container { 
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large displays */

@media (min-width: 900px) {
  .product-listings-container { 
    grid-template-columns: repeat(4, 1fr); 
  }
}

.product-listings-wrapper {
  text-align: center;
}

.product-listing-card {
  background-color: #FCFBF7;
  width: 100%;
  text-align: center;
  border-radius: 2px;
}

.product-listing-card img {
  transition: transform 0.5s, filter 1s cubic-bezier(0, 0, 0.2, 1);
  transform: scale(1);
}

.product-listing-card:hover img {
  transform: scale(1.2);
}

.product-listing-image {
  border-radius: 2px 2px 0px 0px;
  overflow: hidden;
  padding: 0;
}

.product-listing-image img {
  width: 100%;
}

.fa.fa-cart-arrow-down {
  font-size: 16px;
}

#featured-listing {
  background-color: #FFE6A6;
}

#filter-buttons {
  overflow: hidden;
  background-color: #2F586F ;
  margin: 0 2rem;
}

#filter-buttons button:hover {
  background-color: #26485B;
}

#filter-buttons button.active {
  background-color: #ff98a1;
  color: #2F586F;
  font-weight: bold;
}

.map-btn {
  float: right !important;
}

.filter-btn {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

.category-pill {
  padding: 5px 8px;
  margin: 0 2px;
  background-color: lightgray;
  border-radius: 50px;
}

/* Carousel */
.carousel-image {
    width: 100%;
    height: 100%;
}

.find-out-more-btn {
    position: absolute; 
    bottom: 20%; 
    left: 55%;
    background-color: #00b5ad;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50px;
}

.carousel-text{
    position: absolute; 
    top: 10%;
    left: 55%;
}

.carousel-container {
    position: relative;
}
/* Search Bar */

#search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#search-container input[type=text] {
  border: 1px solid grey;
  border-radius: 2px;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: 0;
  background-color: #fff;
}

#search-container form {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
}


#search-container button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
}

.fa.fa-search{
  font-size: 1rem;
}

#loadMore {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}

#loadMore a {
  background: #2F586F;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 32px;
  transition: all 0.25s ease-out;
}

/* Map section */
#map-container {
  text-align: center;
  height: 500px;
  padding: 2rem;
}

#map {
  border: thin solid black;
  height: 100%;
  width: 100%;
}
