.business-description {
  height: 200px;
  background-color: #fafafa;
  margin: 10px;
}

.business-description .layout {
  justify-content: center;
  align-content: center;
  display: grid;
  margin: 0 100px;
  grid-template-columns: 40% 60%;
}

.business-description > div {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    height: 160px;
    position: relative;
  }

.yellow-star {
  color: #fce205;
}

header {
  font-size: 22px;
}

mark {
  padding: 5px;
  border-radius: 4px;
  font-size: 18px;
  background-color: lightgrey;
}



.business-writeup {
  display: grid;
  height: 330px;
  grid-template-columns: 35% 64%;
  grid-gap: 1vw;
  padding: 10px;
}

.business-writeup > div {
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  height: 310px;
}

.image-gallery {
  display: grid;
  height: 250px;
  grid-template-columns: 100%;
  background-color: grey;
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

.reviews {
  display: grid;
  height: 330px;
  grid-template-columns: 100%;
  padding: 10px;
}

.reviews > div {
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  height: 310px;
}
