.business-description {
    display : grid;
    height : 200px;
    grid-template-columns : 30% 50%;
    justify-content : center;
    align-content : center;
    padding : 10px;
}

.yellow-star {
  color:#FCE205;
}

header {
    font-size : 22px;
}

mark {
    padding : 5px;
    border-radius: 4px;
    font-size : 18px;
    background-color: lightgrey;
}

.business-description > div {
    background-color: grey;
    text-align : center;
    padding : 10px;
    font-size : 30px;
    height : 160px;    
    position : relative;
}

.business-writeup {
    display : grid;
    height : 330px;
    grid-template-columns : 35% 64%;
    grid-gap: 1vw;
    padding : 10px;
}

.business-writeup > div {
    background-color: lightgrey;
    text-align : center;
    padding : 10px;
    font-size : 18px;
    height : 310px;
}

.image-gallery {
    display : grid;
    height : 250px;
    grid-template-columns : 100%;
    background-color : grey;
    margin : 10px;
    font-size : 30px;
    text-align : center;
}

.reviews {
    display : grid;
    height : 330px;
    grid-template-columns : 100%;
    padding : 10px;
}

.reviews > div {
    background-color: lightgrey;
    text-align : center;
    padding : 10px;
    font-size : 30px;
    height : 310px;
}