/*favourite feature*/
#fav {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 1rem;
}

.fav-checkbox input[type="checkbox"],
.fav-checkbox .checked {
    display: none;
}
 
.fav-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.fav-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.gray {
  color: grey;
}

.pink {
  color: #ff98a1;
}

/*rest of page*/
.product-page-content {
  padding: 18px;
}

.page-content {
  margin: 0 auto;
  max-width: 1200px;
}

.drop-shadow {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
}

.business-description {
  display: grid;
  grid-template-columns: 65% 34%;
  grid-gap: 1vw;
  padding: 10px;
}

.business-description .layout {
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 40% 60%;
}

.business-description > div {
  font-size: 30px;
  position: relative;
}

#business-header {
  display: grid;
  grid-template-columns: 200px auto;
}

#business-logo-container {
  display: flex;
  justify-content: center;
  position: relative;
}

#businessLogo {
  object-fit: contain;
  width: 100%;
  padding: 5%;
}

#aggregateRating {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  padding-left: 8px;
}

.yellow-star {
  color: #fce205;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 30px;
  color: #ddd;
}

.star:after {
  font-family: Font Awesome 5 Free;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  color: #fce205;
}

mark {
  padding: 0.4rem;
  border-radius: 0.8rem;
  font-size: 16px;
  background-color: lightgrey;
  margin: 2px;
}

#image-thumbnail-gallery {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.business-writeup {
  display: grid;
  grid-template-columns: 65% 34%;
  grid-gap: 1vw;
  padding: 10px;
}

.business-writeup > div {
  background-color: #FFFFFF;
  text-align: left;
  padding: 2rem;
  font-size: 18px;
  height: 250px;
}

.image-gallery {
  width: 80%;
}

