.row {
    height: 700px;
}

.column {
  float: left;
  width: 31.7%;
  padding: 10px;
  text-align: center;
}

.price {
  color: grey;
  font-size: 22px;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 35%
}
