html, body {
  font-family: system-ui, sans-serif;
  height: 100%;
  width: 100%;
}

/* Product Listing Section */

/* Mobile */
.product-listings-container {
  max-width: 100%;
  display: grid;
  grid-gap: 1rem;
}

/* Medium Displays */

@media (min-width: 600px) {
  .product-listings-container { 
    grid-template-columns: repeat(2, 1fr); 
  }
}

/* Large displays */

@media (min-width: 900px) {
  .product-listings-container { 
    grid-template-columns: repeat(3, 1fr); 
  }
}

.product-listing-card {
  background-color: #ffe9e9;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.price {
  color: grey;
  font-size: 22px;
}

.product-listing-image {
  overflow: hidden;
  padding: 0;
}

.product-listing-image img {
  width: 100%;
}

.product-listing-card img {
  transition: transform 0.5s, filter 1s cubic-bezier(0, 0, 0.2, 1);
  transform: scale(1.2);
}

.product-listing-card:hover img {
  transform: scale(1);
}

.fa.fa-cart-arrow-down {
  font-size: 16px;
}

/* Map section */

#map-container {
  text-align: center;
  height: 50%;
  width: 100%;
  padding: 50px 0px;
}

#map {
  border: thin solid black;
  height: 100%;
  width: 100%;

}

/* Nav bar section */

#nav-container {
  overflow: hidden;
  background-color: #333;
  padding: 10px 0px;
}

.nav-link {
  display: inline;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

.nav-link:hover {
  background-color: #111;
}

#search-container {
  float: right;
}

#search-container input[type=text] {
  border: none;
}

#search-container button {
  float: right;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}
