.business-description {
    display : grid;
    height : 200px;
    grid-template-columns : 80%;
    justify-content: center;
    align-content: center;
    background-color : grey;
    padding : 20px;
}

.business-description > div {
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    height: 160px;
}

.business-writeup {
    display : grid;
    height : 330px;
    grid-template-columns : 35% 65%;
    background-color : black;
    grid-gap: 10px;
    padding : 20px;
}

.business-writeup > div {
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    height: 310px;
}

.image-gallery {
    display : grid;
    height : 250px;
    grid-template-columns : 100%;
    background-color : grey;
    padding : 0px;
}

.reviews {
    display : grid;
    height : 330px;
    grid-template-columns : 100%;
    background-color : black;
    padding : 20px;
}

.reviews > div {
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    height: 310px;
}